<header class="flex flex-col items-center">
    <img width="90" height="90" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Contoso Task Pane Add-in" title="Contoso Task Pane Add-in" />
    <h1 class="text-2xl font-semibold">{{welcomeMessage}} - Let's have fun</h1>
</header>
<main class="space-y-4 text-center flex flex-col items-center mt-10">
    <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20"> Discover what Office Add-ins can do for you today! </h2>
    <br />
    <br />
    <!-- <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p> -->
    <div role="button" class="bg-green-600 text-white w-2/3 rounded-sm mt-4 text-center p-2 rounded-md" (click)="run()">
        <span class="ms-Button-label">Execute Command</span>
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
    </div>
</main>